<!DOCTYPE HTML>
<!--
	Broadcast by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Zzin-ear 찐이어</title>
		<style>
				div { text-align: center; }
			</style>

		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/static/css/main.css" />
		<!-- <link rel="stylesheet" href="/static/css/main2.css" /> -->
		<link rel="icon" type="image/png" sizes="16x16" href="/static/icon/PL.ico">
	</head>
	<body>

		<!-- Header -->
		<header id="header">
			<h1><a href="home">Zzin-ear <span><font size="5em" face="휴먼편지체" color="White" >찐이어</font></span></a></h1>
			<a href="#menu"><font size="5em" face="휴먼편지체" color="White" >Menu</font></a>	
		</header>

	<!-- Nav -->
		<nav id="menu">
			<ul class="links">
				<li><a href="home"><font size="5em" face="휴먼편지체" color="White" >Home</font></a></li>
				<li><a href="musicchart?site=melon"><font size="5em" face="휴먼편지체" color="White" >  MELON Chart</font></a></li>
				<li><a href="musicchart?site=genie"><font size="5em" face="휴먼편지체" color="White" >  GENIE Chart</font></a></li>
				<li><a href="musicchart?site=bugs"><font size="5em" face="휴먼편지체" color="White" >  BUGS Chart</font></a></li>
				<li><a href="zzinchart?day=1211"><font size="5em" face="휴먼편지체" color="White" >Zzin-ear Chart</font></a></li>
			</ul>
		</nav>

			<!-- Banner -->
			<!--
				To use a video as your background, set data-video to the name of your video without
				its extension (eg. images/banner). Your video must be available in both .mp4 and .webm
				formats to work correctly.
			-->
				<section id="banner" data-video="/static/img/banner">
					<div class="inner">
						<header>
							<div class="video col">
									<img src="/static/img/logo.png" width="300px" height="300px" alt="" />
							</div><font size="5em" face="휴먼편지체" color="White" >
							<p>Zzin짜만 들려주는!<br />
							Ear를 지켜드립니다!</p></font>
						</header>
						<a href="#main" id="my_hover1" class="button big alt scrolly">Check below</a>
					</div>
					<video autoplay loop>
						<source src="/static/img/banner.mp4" type="video/mp4">
						<source src="/static/img/banner.webm" type="video/webm"> == $0
					</video>
				</section>
			<section class="wrapper style1">
				<div class="inner">
							<section class="tiles">
								<article class="style3">
									<span class="image">
										<img src="/static/img/멜론로고.png" alt>
									</span>
									<a href="musicchart?site=melon">
										<h2>MELON</h2>
										<div class="content">
											<p>멜론차트</p>
										</div>
									</a>
								</article>
								<article class="style2">
									<span class="image">
										<img src="/static/img/지니로고.png" alt>
									</span>
									<a href="musicchart?site=genie">
										<h2>GENIE</h2>
										<div class="content">
											<p>지니차트</p>
										</div>
									</a>
								</article>
								<article class="style1">
									<span class="image">
										<img src="/static/img/벅스로고.png" alt>
									</span>
									<a href="musicchart?site=bugs">
										<h2>BUGS</h2>
										<div class="content">
											<p>벅스차트</p>
										</div>
									</a>
								</article>
							</section>
						</div>
					</div>
				</div>
			</section>
		<!-- Main -->
			<div id="main">

			<!-- One -->
				<section class="wrapper style1">
					<div class="inner">
						<!-- 2 Column Video Section -->
							<ul class = "action fit">
									<a href = "zzinchart" id ="my_hover2" class= "button alt">Zzin-ear hot 100</a>					
							</ul>   
						
					</div>
				</section>


		<!-- Footer -->
			<footer id="footer">
				<div class="copyright">
					&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Coverr</a>. Video: <a href="https://coverr.co">Coverr</a>.
				</div>
			</footer>

		<!-- Scripts -->
			<script src="/static/js/jquery.min.js"></script>
			<script src="/static/js/jquery.scrolly.min.js"></script>
			<script src="/static/js/skel.min.js"></script>
			<script src="/static/js/util.js"></script>
			<script src="/static/js/main.js"></script>
			<script src="/static/js/jquery2.min.js"></script>
			<script src="/static/js/browser2.min.js"></script>
			<script src="/static/js/breakpoints2.min.js"></script>
			<script src="/static/js/util2.js"></script>
			<script src="/static/js/main2.js"></script>

	</body>
</html>