<!DOCTYPE HTML>
<!--
	Broadcast by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Zzin-ear</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/static/css/main.css" />
		<link rel="icon" type="image/png" sizes="16x16" href="/static/icon/PL.ico">
	</head>
	<body class="subpage">

		<!-- Header -->
		<header id="header">
			<h1><a href="home">Zzin-ear <span><font size="5em" face="휴먼편지체" color="White" >찐이어</font></span></a></h1>
			<a href="#menu"><font size="5em" face="Comic sans MS  " color="White" >Menu</font></a>	
		</header>

	<!-- Nav -->
		<nav id="menu">
			<ul class="links">
				<li><a href="home"><font size="5em" face="휴먼편지체" color="White" >Home</font></a></li>
				<li><a href="musicchart?site=melon"><font size="5em" face="휴먼편지체" color="White" >  MELON Chart</font></a></li>
				<li><a href="musicchart?site=genie"><font size="5em" face="휴먼편지체" color="White" >  GENIE Chart</font></a></li>
				<li><a href="musicchart?site=bugs"><font size="5em" face="휴먼편지체" color="White" >  BUGS Chart</font></a></li>
				<li><a href="zzinchart?day=1211"><font size="5em" face="휴먼편지체" color="White" >Zzin-ear Chart</font></a></li>
			</ul>
		</nav>
		<!-- Main -->
			<div id="main">

			<!-- One -->
				<section class="wrapper style1">
					<form action="/hotmusic/zzinchart" method="post">
					<div class="inner">
						<header class="align-center">
							<h2>{{mo}}월 {{da}}일 Zzin-ear Chart</h2>
							<h2>top 100</h2>
						</header>
						<div class="row uniform">
							<div class="2u" style="float:right">
								<input type="submit" id="my_hover8"class="button fit" value="조회"></input>
							</div>		
							<div class="2u" style="float:right">
								<div class="select-wrapper">								
									<select name="zzin_day" id="zzin_day" style='background:rgb(6, 32, 56);'>
										<option value="">-날짜-</option>
										<option value="1211">2019-12-11</option>
										<option value="1212">2019-12-12</option>
										<option value="1213">2019-12-13</option>
										<option value="1214">2019-12-14</option>
										<option value="1215">2019-12-15</option>
										<option value="1216">2019-12-16</option>
									</select>
								</div>
							</div>
						</div>
					</form>
					</br>
						<div class="table-wrapper">
							<table>
								<thead>
									<tr>
										<th>순위</th>
										<th>점수</th>
										<th>곡</th>
									</tr>
								</thead>
								<tbody>
									{% for i in data %}
									<tr>
										<td>{{i.0}}</td>
										<td>{{i.1.1}}</td>
										<td>{{i.1.0}}</td>
									</tr>
									{%endfor%}

								</tbody>
							</table>
						</div>
					</div>
				</section>
		<!-- Footer -->
			<footer id="footer">
				<div class="copyright">
					&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Coverr</a>. Video: <a href="https://coverr.co">Coverr</a>.
				</div>
			</footer>

		<!-- Scripts -->
			<script src="/static/js/jquery.min.js"></script>
			<script src="/static/js/jquery.scrolly.min.js"></script>
			<script src="/static/js/skel.min.js"></script>
			<script src="/static/js/util.js"></script>
			<script src="/static/js/main.js"></script>

	</body>
</html>